body{
	font-family: Arial, sans-serief;
	background-color: #ADD8E6;
	padding: 20px;
}

.caixa-formulario{
	width: 400px;
	margin: 0 auto;
	
	background-color: #F0F8FF;
	border: 1px solid #cccccc;
	padding: 25px;
}
h1{
     text-align: center;
	 color: #333;
}

p{
	text-align: center;
    color: #555;
}

label,
input,
textarea,
button{
	 display: block;
}
label{
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: bold;
}
input,
textarea{
	padding: 8px
}
button{
	margin-top: 20px;
	padding: 10px;
}